@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  font-family: Inter, sans-serif;
}
body {
  user-select: none;
}
/* menus */
.wrapper {
  position: relative;
}
.menu {
  position: relative;
  border: 3.5px solid black;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}
.header {
  position: relative;
  display: block;
  font-weight: 600;
  margin-top: 11px;
  font-size: 30px;
  margin-left: 10px;
}
#left {
  width: 300px;
}

#time-menu {
  top: 15px;
  left: 15px;
  width: 174px;
  height: 59px;
}

#day {
  position: relative;
  display: block;
  font-weight: 600;
  margin-top: 11px;
  font-size: 30px;
  margin-left: 10px;
}

#time-wheel {
  position: relative;
  top: -40px;
  left: 110px;
  width: 35px;
  height: 35px;
  border: 3px solid black;
  border-radius: 30px;
  background: url(img/clock-bg.png)
}
#time-wheel #center {
  position: relative;
  width: 7.5px;
  height: 7.5px;
  border-radius: 30px;
  background: black;
  left: 14px;
  top: 14px;
}
#time-wheel #hand {
  background: black;
  width: 20px;
  height: 3px;
  transform-origin: -0.5px 25px;
  transform: rotate(45deg);
}
#sell {
  position: fixed;
  bottom: 11px;
  right: 12px;
  width: 75px;
  z-index: 100;
  /*width: 169px;
  height: 92px;*/
}
#sell:hover {
  transform: scale(0.95);
  content: url('img/sell-hover.png');  
}
#sell:active {
  transform: scale(0.9, 0.9)
}
#sell-menu {
  position: fixed;
  height: 70px;
  width: 300px;
  bottom: 10px;
  right: 10px;
  border-radius: 50px;
}
#money-menu {
  position: fixed;
  float: right;
  height: 59px;
  width: 197px;
  top: 23px;
  left: 82%;
}
#money {
  position: absolute;
  margin-top: 10px;
  margin-left: 15px; 
  font-size: 28px;
  font-weight: 600;
}



#inventory {
  position: absolute;
  margin-left: 15px;
  margin-top: 25px;
  height: calc(100vh - 130px);
  width: 250px;
  padding-left: 10px;
  padding-top: 10px;
}
#shop {
  position: absolute;
  margin-left: 15px;
  margin-top: 25px;
  height: calc(100vh - 220px);
  width: 250px;
  padding-left: 10px;
  padding-top: 10px;
  right: 35px;
}

.amount {
  color: white;
  text-shadow: 2px 2px black;
  position: relative;
  left: -20px;
  top: -5px;
  font-size: 18px;
  pointer-events: none;
}
.inventoryWrapper {
  display: inline-block;
  padding-right: -10px;
}
.inventoryWrapper:hover {
  background: #fef3c0;
}
.inventoryImg {
  width: 60px; 
  height: 60px; 
  display: inline-block;
}

#inventoryTooltip {
  position: fixed;
  pointer-events: none;
  color: #fff;
  padding: 9px 12px;
  font-size: 14px;
  z-index: 9999;
  transform: translate(10px, 10px);
  opacity: 0;
  max-width: 200px;
  border: 2px solid black;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
  color: black;
}

#toolbox {
  top: -85px;
  left: 200px;
}

#toolbox img:hover {
  content:url('img/toolbox-hover.png'); 
}
#toolbox img:active {
  transform: scale(0.99);
}
#cart {
  top: -135px;
  left: 260px;
}
#cart img:hover {
  content:url('img/cart-hover.png'); 
}
#cart img:active {
  transform: scale(0.99);
}

/* farm */

#farm {
  position:fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #59c135;
}
.farmland {
  z-index: 10;
  width: 350px;
  height: 350px;
}

.soil-block {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
  background: #8e5252;
  background-size: 50px 50px;
}
.soil-block:active {
  filter: brightness(110%);
  transform: scale(0.95)
}
.soil-block:hover .tooltip {
  visibility: visible;
}
.soil-block:active .tooltip {
  filter: brightness(100%);
  transform: scale(1.05);
}

.tooltip {
  visibility: hidden;
  width: 120px;
  /* background-color: rgba(0, 0, 0, 0.3); */
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  margin-left: -34px;
  margin-top: -40px;
  user-select: none;
  font-size: 12px;
}

.progressBar {
  width: 100px; 
  height: 12px; 
  border: 1px solid white;
  margin-left: 8px;
}
.progress {
  width: 0px;
  height: 12px;
  background: #078e32;
}

/* mobile and nojs */

#mobile {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background: brown;
  color: tan;
  font-weight: 100;
  font-family: sans-serif;
  font-size: 20px;
}
/*@media only screen and (max-width: 1000px) {
  body {
    background: brown;
  }
  #game {
    display: none;
  }
  #mobile {
    display: block;
  }
}*/

#nojs {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background: brown;
  color: tan;
  font-weight: 100;
  font-family: sans-serif;
  font-size: 20px;
}

#jackson {
  position: fixed;
  font-size: 300px;
}